/Build/
/Library/
/Temp/

/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/frenemy-jam-csharp.sln
/frenemy-jam.sln
/frenemy-jam.userprefs

/.idea/workspace.xml
/.idea/tasks.xml

